@import '../../global.scss';

.icon-container {
    width: 100%;
    background-color: $lightestColor;
    padding-top: 40px;
    padding-bottom: 40px;
    .icon-box {
        text-align: center;
    }
    .icon:hover {
        color: $mainColor;
        transition: .5s;
    }
    .icon {
        margin: 60px;
        font-size: 4rem;
        text-decoration: none;
        color: $darkestColor;
        transition: .5s;
    }
}

@media (max-width: $breakpoint-tablet) {
   .icon-container {
       .icon {
       margin: 20px;
       }
    }
}